extends layout

block content
  .text-center.pb-5
    .container
      .row
        .col-xs-12.col-md-8.offset-md-2
          h1.display-6.lead.py-1
            | Uncover 
            strong.fw-bold Invisible Trackers 
            | on Popular Websites for a Secure Browsing Experience 
          .row
            .col-lg-8.offset-lg-2
              .d-none.d-md-block
                form.searchForm
                  .input-group.input-group-lg
                    span#inputGroup-sizing-lg.input-group-text.bg-light.text-dark 
                      i.bi.bi-globe
                    input.form-control.form-control-dark.search-bar#t(
                      type='text', 
                      aria-label='Search URL',
                      aria-describedby='inputGroup-sizing-lg',
                      placeholder="Search (e.g. apple.com)",
                      title="Please enter valid URL",
                      )
                    //- button.btn.btn-outline-info#collect(type="submit") Search
              .d-md-none
                form.searchForm
                  .input-group.input-group
                    span#inputGroup-sizing-lg.input-group-text 
                      i.bi.bi-globe
                    input.form-control.form-control-dark.search-bar#t(
                      type='text', 
                      aria-label='Search URL',
                      aria-describedby='inputGroup-sizing-lg',
                      placeholder="Search (e.g. apple.com)",,
                      title="Please enter valid URL",
                      )
                    //- button.btn.btn-outline-info#collect(type="submit") Search
  .container
    - var scores = [{text: 'Very Low', class: 'success', width: '0', color: 'text-light', value: '0'}, {text: 'Low', class: 'info', width: '25', color: 'text-dark', value: '1'}, {text: 'Moderate', class: 'warning', width: '50', color: 'text-dark', value: '2'}, {text: 'High', class: 'danger', width: '100', color: 'text-light', value: '3'}]
    .row
      .col-lg-10.offset-lg-1
        .row
          .col-md-6
            .dropdown
              a.btn.btn-sm.btn-light.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false").
               Sort By 
              ul.dropdown-menu
                li
                  a.dropdown-item(href="/?sort=names&order=asc") Host A-Z
                li
                  a.dropdown-item(href="/?sort=names&order=desc") Host Z-A
                li
                  a.dropdown-item(href="/?sort=trackers&order=asc") # of Trackers 1-9
                li
                  a.dropdown-item(href="/?sort=trackers&order=desc") # of Trackers 9-1
          .col-md-6
            .d-grid.gap-2.d-md-flex.justify-content-md-end.py-3
              span Filter by: 
              button.btn.btn-sm.btn-light.filter-score-btn(type="button", data-score="all")
                | All
              each score in scores 
                button.btn.btn-sm.btn-light.filter-score-btn(type="button", data-score="" + score.value)
                  | #{score.text}
        .table-responsive
          table.table.table-sm.table-striped#hosts
            thead
              tr
                th #
                th Host
                th.text-center # of Trackers Found
                th.text-center
                  | Likelihood of fingerprinting 
                  a(href="#" data-bs-toggle="tooltip" data-bs-title="Based on the average score of all trackers found", data-bs-placement="bottom")
                    i.bi.bi-info-circle-fill
                th.text-center Actions
            tbody
              each report, index in data
                tr(data-host="" + report.host + "", data-score="" + report.fingerprinting_average + "")
                  td 
                    span=index+1
                  td
                    img.bg-white.p-1.me-2.border.rounded(src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://"+ report.host + "&size=16")
                    span=report.host
                  td.text-center
                    span=report.beacons
                    //- span.ms-2 third party requests
                  td.text-center
                      .w-75.mx-auto
                        .progress(role="progressbar", aria-label="Info striped example", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")
                          .progress-bar(class="bg-" + scores[report.fingerprinting_average].class + " w-" + scores[report.fingerprinting_average].width + "")
                            span.fw-normal(class="" + scores[report.fingerprinting_average].color + "") #{scores[report.fingerprinting_average].text} 
                  td.text-center
                    button.btn.btn-sm.btn-outline-info(type="button", data-bs-toggle="modal", data-bs-target="#exampleModal", data-host="" + report.host + "", data-average="" + report.fingerprinting_average + "") View Report
                //- tr
                //-   td(colspan="4").d-none
                //-     .py-4
                //-       h5 Report
        p.text-secondary.fs-6
          i.bi.bi-info-circle.me-2
          | Results are based on 
          a(href="https://github.com/duckduckgo/tracker-radar/blob/main/docs/DATA_MODEL.md#fingerprinting-0-3") DuckDuckGo's tracker radar
          |  that determines the likelihood third-party domains use browser APIs to create identifity profiles. Some results may be inaccurate if a website requires authentication (e.g. Social media)
    //- .d-flex.justify-content-center
    //-   #progress
    //-       .progress__check
    //-         .progress__check__icon
    //-           i.bi.bi-globe
    //-         span.progress__check__content
    //-       .progress__check
    //-         .progress__check__icon
    //-           i.bi.bi-search
    //-         span.progress__check__content
    //-       .progress__check
    //-         .progress__check__icon
    //-           i.bi.bi-eye
    //-         span.progress__check__content
    //- #reports.w-100.pt-5
    //-   .row
    //-     .col-xs-12.col-md-6.offset-md-3
    //-       p.h4.fw-light.text-center.mb-5
    //-         span Enter a URL to generate a report of all trackers on the website, or try out the examples below.
    //-     .col-md-4.mb-3.m-md-0
    //-       .bg-secondary-subtle.text-start.p-3.rounded-3.h-100.d-flex.flex-column.justify-content-between
    //-         p.text-secondary
    //-           i.bi.bi-megaphone.me-2
    //-           | Marketing
    //-         p 
    //-           span HubSpot Business Software | For Marketing, Sales & Service
    //-         button.btn.btn-outline-info(
    //-           onclick="scanSite('https://hubspot.com')"
    //-         ) Scan HubSpot
    //-     .col-md-4.mb-3.m-md-0
    //-       .bg-secondary-subtle.text-start.p-3.rounded-3.h-100.d-flex.flex-column.justify-content-between
    //-         p.text-secondary
    //-           i.bi.bi-newspaper.me-2
    //-           | News
    //-         p
    //-           span CNN: Breaking News, Latest News and Videos
    //-         button.btn.btn-outline-info(
    //-           onclick="scanSite('https://cnn.com')"
    //-         ) Scan CNN
    //-     .col-md-4.mb-3.m-md-0
    //-       .bg-secondary-subtle.text-start.p-3.rounded-3.h-100.d-flex.flex-column.justify-content-between
    //-         p.text-secondary
    //-           i.bi.bi-play-btn.me-2
    //-           | Media
    //-         p 
    //-           span YouTube | Broadcast Yourself
    //-         button.btn.btn-outline-info(
    //-           onclick="scanSite('https://youtube.com')"
    //-         ) Scan YouTube
    .modal.fade#exampleModal(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog.modal-xl.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
          .modal-header
            h1.modal-title.fs-5#exampleModalLabel example.com
            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
          .modal-body
            #report
          .modal-footer
            button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close

